@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 43% 95%;
    --foreground: 215 55% 23%;
    --card: 0 0% 100%;
    --card-foreground: 215 55% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 55% 23%;
    --primary: 341 69% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 215 55% 23%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 212 43% 90%;
    --accent-foreground: 215 55% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 341 69% 30%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215 55% 15%;
    --foreground: 0 0% 98%;
    --card: 215 55% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 215 55% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 341 69% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 215 55% 23%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 55% 23%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 215 55% 28%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 55% 28%;
    --input: 215 55% 28%;
    --ring: 341 69% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
